.top-infos {
  position : absolute;
  width : 80%;
  margin-left : 10%;
  background-color : rgba(49, 49, 49, 0.733);
  box-shadow: 0px 0px 5px rgba(92, 92, 92, 0.733);
  color : rgb(206, 194, 193);
  border : 1px solid rgba(92, 92, 92, 0.733);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.top-infos h4 {
  color : rgb(206, 194, 193);
  background-color: rgb(24, 24, 24);
  padding-top : 0.5rem;
  padding-bottom : 0.5rem;
}

.fecond-now {
  color : rgb(64, 143, 163);
}

.btn-add:hover {
  color : rgb(64, 163, 64) !important;
  background-color: rgba(55, 63, 46, 0.733) !important;
}

.btn-remove:hover {
  color : rgb(185, 57, 52) !important;
  background-color: rgba(71, 47, 47, 0.733) !important;
}

.craft-category-name {
  width : 80%;
  padding-left : 4rem;
}

.craft-category-efficacite {
  width : 20%;
  padding-right : 4rem;
}

.top-infos p {
  padding-top : 0.5rem;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: 'Carter One', cursive;
}

/* input {
  background-color: rgb(34, 34, 34);
  color : rgb(167, 63, 60);
  border-color : rgb(102, 46, 44);
} */

input:focus {
  outline: none;
}

.btn {
  padding-top : 1rem;
  padding-bottom : 1rem;
  width : 100%;
  font-size : 1.2rem;
  border-radius : 20px;
  background-color : rgb(49, 49, 49);
  box-shadow: 0px 0px 5px rgba(92, 92, 92, 0.733);
  color : rgb(206, 194, 193);
  border-bottom : 1px solid rgba(92, 92, 92, 0.733);
  border-left : 1px solid rgba(92, 92, 92, 0.733);
  border-right : 1px solid rgba(92, 92, 92, 0.733);
}

.btn-infos {
  box-shadow: 0px 0px 5px rgba(92, 92, 92, 0.733);
  border-top : 1px solid rgba(92, 92, 92, 0.733);
  border-radius : 20px;
}

.btn-home-return {
  color : rgb(64, 143, 163);
}

.btn-home-return:hover {
  color : rgb(64, 143, 163) !important;
  background-color : rgb(41, 54, 58) !important;
}

.btn:hover {
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.3rem;
  color : rgb(185, 57, 52);
  background-color: rgba(63, 46, 46, 0.733);
}

.btn-add {
  color : rgb(64, 163, 64);
}

.btn-remove {
  color : rgb(185, 57, 52);
}

.home-menu {
  width : 80%;
  margin-left: auto;
  margin-right : auto;
  overflow-y : auto;
  max-width:  800px;
  min-width : 480px;
}

.infos-input {
  margin-top : 0.5rem;
  margin-bottom : 0.5rem;
}

.btn-home {
  border-top : 1px solid rgba(92, 92, 92, 0.733);
  border-radius : 20px;
}

.bottom-choice {
  position: absolute;
  bottom : 0;
  width: 100%;
  border-top : 1px solid rgba(92, 92, 92, 0.733);
  box-shadow: 0px 0px 5px rgba(92, 92, 92, 0.733);
  border-radius : 20px;
}

.bottom-choice button:nth-child(2), .bottom-choice button:nth-child(3){
  border-radius : 0px !important;
}

.bottom-choice button:first-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn:focus {
  box-shadow: none;
}

.add-infos-div {
  border : 1px solid rgba(92, 92, 92, 0.733);
  box-shadow: 0px 0px 15px rgba(92, 92, 92, 0.733);
  margin-top : 2rem;
  margin-bottom : 3rem;
  padding-bottom : 2rem;
  border-radius : 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color : rgb(187, 174, 172);
  background-color : rgba(49, 49, 49, 0.733);
}

.label-add-infos {
  color : rgb(187, 174, 172);
}

.center-div {
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 1rem;
}

.add-infos-div h4 {
  padding-top : 0.5rem;
  margin-top : 2rem;
  padding-bottom : 0.7rem;
  margin-bottom : 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.one_infos {
  border : 1px solid rgba(92, 92, 92, 0.733);
  margin-top : 0.5rem;
  margin-bottom : 1.5rem;
  border-radius : 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color : rgb(185, 57, 52);
  background-color : rgba(49, 49, 49, 0.733);
  box-shadow: 0px 0px 5px rgba(92, 92, 92, 0.733);
}

.infos-title {
  padding-top : 1rem;
  padding-bottom : 1rem;
  margin-bottom : 2rem;
  color : rgb(206, 194, 193);
  letter-spacing: 0.3rem;
}

.one_infos:hover {
  transition : all 0.2s ease-in-out;
  box-shadow: 0px 0px 30px rgb(148, 92, 90);
}

.one_infos h4 {
  padding-bottom : 0.5rem;
  padding-top : 0.5rem;
  border-top-left-radius : 10px;
  border-top-right-radius : 10px;
  color : rgb(206, 194, 193);
  background-color: rgb(24, 24, 24);
}

.one_infos p {
  padding-top : 0.5rem;
  padding-bottom : 0.3rem;
}

.parcho-div {
  border : 1px solid rgba(92, 92, 92, 0.733);
  margin-top : 0.5rem;
  margin-bottom : 1rem;
  border-radius : 10px;
  color : rgb(185, 57, 52);
  background-color : rgba(49, 49, 49, 0.733);
  box-shadow: 0px 0px 5px rgba(92, 92, 92, 0.733);
}

.parcho-div input{
  margin-bottom : 1rem;
}

.parcho-title {
  padding-top : 0.7rem;
  padding-bottom : 0.3rem;
  color : rgb(206, 194, 193);
}

.craft-title {
  color : rgb(206, 194, 193);
  padding-top : 1rem;
  padding-bottom : 1rem;
  margin-bottom : 2rem;
}

.principal-parcho-div {
  width : 80%;
  margin-left : auto;
  margin-right : auto;
}

.category {
  color : rgb(206, 194, 193);
  padding-top : 0.8rem;
  padding-bottom : 0.4rem;
  width : 70%;
  margin-left : auto;
  margin-right : auto;
  border-radius : 10px;
  box-shadow: 0px 0px 5px rgba(92, 92, 92, 0.733);
  cursor : pointer;
}

.craft-title, .infos-title {
  background-color : rgb(61, 61, 61);
  border-bottom : 1px solid rgba(92, 92, 92, 0.733);
  border-top : 1px solid rgba(92, 92, 92, 0.733);
}

.category:hover {
  transition: all 0.2s ease-out;
  transform: translateX(7%);
  background-color : rgba(49, 49, 49, 0.733);
  color : rgb(185, 57, 52);

}

.ressource-line, .last-line {
  margin-left : auto;
  margin-right : auto;
  color : rgb(206, 194, 193);
  padding-top : 1rem;
}

.last-line:hover {
  cursor: pointer;
  background-color: rgb(102, 46, 44) !important;
}

.ressource-line:hover {
  transition: all 0.2s ease-in-out;
  color : rgb(185, 57, 52);
}

.addDD-line, .rmvDD-line {
  margin-left : auto;
  margin-right : auto;
  color : rgb(206, 194, 193);
  padding-top : 1rem;
}

.addDD-line:hover {
  background-color: rgba(66, 219, 91, 0.13) !important;
  box-shadow: 0px 0px 5px rgba(92, 92, 92, 0.733);
  transition: all 0.2s ease-in-out;
  color : rgba(20, 155, 47, 0.781);
  cursor: pointer;
}

.rmvDD-line:hover {
  background-color : rgba(102, 43, 40, 0.801) !important;
  box-shadow: 0px 0px 5px rgba(92, 92, 92, 0.733);
  transition: all 0.2s ease-in-out;
  color : rgb(206, 194, 193);
  cursor: pointer;
}

.gestation-line {
  margin-left : auto;
  margin-right : auto;
  color : rgb(206, 194, 193);
  padding-top : 1rem;
}

.gestation-line:hover {
  transition: all 0.2s ease-in-out;
  color : rgb(185, 57, 52);
}

.principal-ressource-div {
  border : 1px solid rgba(92, 92, 92, 0.733);
  border-radius : 10px;
  width : 70%;
  margin-left : auto;
  margin-right : auto;
  box-shadow: 0px 0px 5px rgba(92, 92, 92, 0.733);
  margin-bottom : 2rem;
}

.input-parcho {
  margin-bottom :1rem;
  margin-top: 1rem;
  width : 50%;
}

.principal-ressource-div div:last-child, .parcho-container div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.principal-parcho-div {
  border : 1px solid rgba(92, 92, 92, 0.733);
  border-radius : 10px;
  width : 90%;
  margin-left : auto;
  margin-right : auto;
  box-shadow: 0px 0px 5px rgba(92, 92, 92, 0.733);
  margin-bottom : 2rem;
}

.principal-gestation-div {
  border : 1px solid rgba(92, 92, 92, 0.733);
  border-radius : 10px;
  width : 90%;
  margin-left : auto;
  margin-right : auto;
  box-shadow: 0px 0px 5px rgba(92, 92, 92, 0.733);
  margin-bottom : 2rem;
}

.div-input-craft {
  margin-left : auto;
  margin-right : auto;
  width : 70%;
}

.div-input-craft p {
  color : rgb(206, 194, 193);
  margin-left : 15%;
  margin-right : 2rem;
}

.input-craft {
  width : 5rem;
  margin-bottom : 1rem;
}

.principal-ressource-div div:nth-child(2n+2), .parcho-container div:nth-child(2n+2), .gestation-container div:nth-child(2n+2) {
  background-color : rgba(46, 46, 46, 0.788);
}

.ressource-count {
  text-align : right;
}

.ressource-name {
  width : 80%;
  padding-left : 1rem;
}

.parchemin-name {
  width: 50%;
  text-align : left;
}

.mydd-name {
  width : 100%;
  text-align : left;
  padding-left : 4rem;
}

.fecond-name {
  width : 60%;
  text-align: left;
  padding-left : 2rem;
}

.fecond-count {
  text-align : right;
  padding-right : 2rem;
  width : 40%;
}

.accouch-date {
  color : rgb(206, 194, 193);
  padding-bottom : 2rem;
}

.accouch-last {
  color : rgb(206, 194, 193);
}

.parchemin-count {
  width : 50%;
  text-align : right;
}

.parchemin-name {
  padding-left : 4rem;
}

.parchemin-count {
  padding-right : 4rem;
}

.ressource-count {
  padding-right : 1rem;
  width : 20%;
}

.no-dd-title {
  color : rgb(185, 57, 52);
  padding-top : 1rem;
  font-size : 1.5rem;
}