.navbar-brand {
  color : rgb(105, 153, 34) !important;
}

.nav-item a {
  color : white !important;
  margin-right : 1rem;
}

.nav-active a {
  background-color : rgb(105, 153, 34);
  color : white !important;
  border : 1px solid rgb(62, 90, 20);
  border-radius: 8px;
}

.navbar-favicon {
  max-height : 25px;
  width : auto;
  margin-left : 0.5rem;
  margin-top : -0.5rem;
}

.sign-up-login li:first-child {
  margin-right : 0.5rem; 
}

nav {
  min-width : 750px;
  background-color : rgb(39, 39, 39);
  max-height : 70px;
}

.sign-up-login li {
  cursor : pointer;
  padding : 0.5rem 1rem;
}

.sign-up-login svg {
  margin-right : 0.3rem;
}

.sign-in, .sign-up {
  border-radius:12px 0 12px 0;
  color:rgb(105, 155, 189);
  transition-duration: 0.3s;
}

.sign-in:hover, .sign-up:hover {
  background-color : rgb(82, 123, 151);
  color : white;
  transition-duration: 0.3s;
}

.dropdown-profile {
  right: 0 !important;
  left: auto !important;
}

.dropdown-profile .nav-disconnect {
  cursor: pointer;
  color : rgb(212, 34, 34) !important;
}

.dropdown-profile .profile {
  cursor: pointer;
  color : rgb(105, 155, 189) !important;
}

.dropdown-pseudo {
  background-color : rgb(39, 39, 39);
  color : rgb(105, 153, 34);
  padding-top : 0.7rem;
  padding-bottom : 0.7rem;
  text-align : center;
}

.dropdown svg {
  font-size : 2.2rem;
}

.dropdown-menu {
  padding-top : 0 !important;
}