input {
  background-color : white !important;
  border : 1px solid black !important;
  border-radius : 5px;
}

.modal-header {
  color : rgb(105, 155, 189);
}

.modal-body svg {
  margin-right : 0.5rem;
}

.pwd-icon {
  margin-left : 0.5rem;
  padding : 0.2rem;
  font-size : 1.7rem;
  cursor : pointer;
}

.pwd-icon:hover {
  color : grey;
}

.modal-footer button {
  background-color : rgb(82, 123, 151);
  color : white;
  transition-duration: 0.3s;
  border : none;
  padding : 0.5rem 1rem;
  width : 100%;
}

.modal-footer button:hover {
  letter-spacing : 0.7rem;
  transition-duration: 0.3s;
}

.pseudo {
  margin-bottom : 2rem;
}

.password {
  margin-bottom : 1rem;
}

.pseudo-min-caract {
  font-size : 0.9rem;
  color : rgb(85, 85, 85);
}