input {
  background-color : white;
  border-color : grey;
  border-radius : 5px;
}

.pseudo {
  margin-bottom : 2rem;
}

.password {
  margin-bottom : 1rem;
}

.pseudo-min-caract {
  font-size : 0.9rem;
  color : rgb(85, 85, 85);
}